/* General Styling */
#our-activities {
  background-color: #f8f9fa;
  text-align: center;
  width: 100vw;
}
#activities-container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  border-radius: 8px;
  animation: fadeIn 1s ease-in-out;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

#our-activities h2 {
  margin-top: 2rem;
  font-size: 2rem;
  color: #333;
}

/* Activity Block Styling */
.activity {
  margin-bottom: 2em;
  position: relative;
  animation: fadeIn 1s ease-in-out;
  padding: 2rem 1rem 0;
  border-radius: 1rem;
  border: 1px solid #007bff;
  max-width: 400px;
  height: 250px;
  margin: 0 auto;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.activity h3 {
  font-size: 1.5em;
  color: #007bff;
}

.activity p {
  font-size: 1em;
  color: #555;
  line-height: 1.6;
}

/* Icon Styling and Floating Animation */
.icon {
  font-size: 2em;
  color: #007bff;
  margin-bottom: 0.5em;
  animation: float 3s ease-in-out infinite;
  position: relative;
}

/* Fade-in Animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Floating Animation */
@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  #our-activities h2 {
    font-size: 1.75em;
  }
  .activity {
    padding: 2rem 1rem 0;
  }

  .activity h3 {
    font-size: 1.3em;
  }

  .activity p {
    font-size: 0.95em;
  }

  .icon {
    font-size: 1.8em;
  }
}

@media (max-width: 600px) {
  #our-activities h2 {
    font-size: 1.5em;
  }
  .activity {
    padding: 2rem 1rem 0;
  }
  .activity h3 {
    font-size: 1.2em;
  }

  .activity p {
    font-size: 0.9em;
  }

  .icon {
    font-size: 1.6em;
  }
}

@media (max-width: 400px) {
  #our-activities h2 {
    font-size: 1.3em;
  }
  .activity {
    padding: 2rem 1rem 0;
  }

  .activity h3 {
    font-size: 1.1em;
  }

  .activity p {
    font-size: 0.85em;
  }

  .icon {
    font-size: 1.4em;
  }
}
