.gallery-cntainer {
  max-width: 1224px;
  width: 90%;
  margin: auto;
  padding: 2rem 0 3rem;
  text-align: center;
}
.title {
  font-size: 2rem;
  color: #333;
  margin-bottom: 2rem;
}
.photo-gallery {
  display: flex;
  gap: 20px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.photo img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
  animation: fadeIn 1s ease-in-out;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@media screen and (max-width: 600px) {
  .photo-gallery {
    gap: 10px;
  }
  .column {
    gap: 10px;
  }
}
@media screen and (max-width: 400px) {
  .photo-gallery {
    gap: 5px;
  }
  .column {
    gap: 5px;
  }
}
